@import "../../../variables";

.first-project-main-photo {
  background-size: cover;
}

.first-project-main-photo,
.second-project-main-photo {
  background-position: top;
  background-repeat: no-repeat;
}

.first-project-second-photo,
.first-project-third-photo,
.second-project-second-photo,
.second-project-third-photo {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.first-project-main-photo {
  background-image: url("../../../assets/Projects/First/main.png");
}

.first-project-second-photo {
  background-image: url("../../../assets/Projects/First/second.png");
}

.first-project-third-photo {
  background-image: url("../../../assets/Projects/First/third.png");
}

.second-project-main-photo {
  background-image: url("../../../assets/Projects/Second/main.png");
}

.second-project-second-photo {
  background-image: url("../../../assets/Projects/Second/second.png");
}

.second-project-third-photo {
  background-image: url("../../../assets/Projects/Second/third.png");
}