@import "../../../variables";

.heroSection {
  h1,
  h2 {
    line-height: 61px;
    color: rgb(0, 0, 0);
    text-transform: unset;
    text-align: center;
  }

  h2 {
    color: $green;
  }

  > p {
    font-weight: 300;
    margin: 0 auto;
    margin-top: 25px;
  }

  .custom-bg-button {
    font-size: 21px;
    height: 4rem;
    width: 12rem;
  }

  h3 {
    line-height: 2.5rem;
    margin: 0 auto;
    margin-top: 50px;
  }

  .cursor {
    display: inline-block;
    width: 2px;
    margin-left: 4px;
    background: $green;
  }

  .cursor.blink {
    animation: blink 0.8s ease-in-out infinite;
  }

  @keyframes blink {
    0%,
    100% {
      background: $green;
    }
    40%,
    50% {
      background: transparent;
    }
  }
}
