@import "../../../variables";

.heroSection {

    h1,
    h2 {
        font-weight: 700;
        font-size: 65px;
        line-height: 80px;
        color: rgb(0, 0, 0);
        text-transform: unset;
        text-align: center;
    }

    h2 {
        color: $pink;
    }

    >p {
        width: 70%;
        margin: 0 auto;
        margin-top: 25px;
    }

    .custom-bg-button {
        font-size: 21px;
        height: 4rem;
        width: 12rem;
    }

    h3 {
        font-size: 40px;
        width: 70%;
        text-align: center;
        margin: 0 auto;
        margin-top: 30px;
    }
}