@import "../../../variables";

.card * {
    color: white;



}

.card {
    height: 250px;

    @media (max-width: 767px) {
        height: 320px; 
    }

    .left-side {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .card-title {
        width: 80%;
        font-size: calc(1rem + 1vw);
        line-height: normal;

        @media (max-width: 767px) {
            width: 100%;
            margin-bottom: 20px;
        }
    }

    .btn {
        border: none
    }

    input {
        color: $gray;
    }
}