@import "variables";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  font-family: Barlow;
  color: $gray;
}

html {
  scroll-behavior: smooth;
}

.page-container {
  max-width: 1340px;
  margin: 0 auto;
  padding: 20px;
}

.custom-bg-button {
  background-color: $pink;
  color: white;

  &:hover {
    border-color: rgb(187, 32, 88);
    background-color: rgb(187, 32, 88);
  }
}

.custom-no-bg-button {
  &:hover {
    border-color: white;
    background-color: white;
  }
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blue-bg {
  background-color: $blue;
}

.gray-bg {
  background-color: $gray;
}

.pink-bg {
  background-color: $pink;
}
