@import "variables";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@media (prefers-color-scheme: dark) {
  body {
    background-color: #ffffff !important;

    a {
      border-color: transparent !important;
    }
  }
}

body {
  font-family: Barlow;
  color: $gray;
}

html {
  scroll-behavior: smooth;
}

.page-container {
  max-width: 1340px;
  margin: 0 auto;
  padding: 20px;
}

.custom-bg-button {
  background-color: $green;
  color: white;

  &:hover {
    border-color: #1dab52;
    background-color: #1dab52;
  }
}

.custom-no-bg-button {
  &:hover {
    border-color: white;
    background-color: white;
  }
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blue-bg {
  background-color: $blue;
}

.gray-bg {
  background-color: $gray;
}

.section-title {
  font-family: Montserrat;
  border-bottom: 1px solid $green;
}